/* components/UserAvatar.module.css */
.user-avatar {
  width: 60px;
  /* Adjust the size as needed */
  height: 60px;
  border-radius: 50%;
  /* Makes it round */
  overflow: hidden;
  /* Clips the image to the border-radius */
  background-color: #ccc;
  /* Background color in case the image is not available */

  /* Center the image inside the avatar container */
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Ensures the image covers the entire container */
  display: block;
}